<%- include("../partials/header"); -%>


<div id="register-login-modal" class="canvas-modal">
    <span class="close" title="Close Modal">x</span>
    <form id="register-login" class="canvas-content" autocomplete="off">
        <h2><%- title %></h2>
        <label for="email">Email</label>
        <input type="email" name="email" required autofocus />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button><%- buttonTitle %></button>
    </form>
</div>


<%- include("../partials/footer"); -%>

<script type="text/javascript">
    // const form = document.querySelector('form');
    const canvasRegLog = document.querySelector("#register-login-modal");
    const formRegLog = document.querySelector("#register-login-modal #register-login");
    
    // if user clicks outside the form
    window.onclick = function(event) {
        if (event.target == modal) {
            canvasRegLog.style.display = "none";
        }
    }

    // if the user clicks submit button
    formRegLog.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        // get elements
        const emailError = document.querySelector('#register-login .email.error');
        const passwordError = document.querySelector('#register-login .password.error');

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        // get values
        const email = formRegLog.email.value;
        const password = formRegLog.password.value;

        try {
            const res = await fetch('/auth/<%- postPage %>', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                canvasRegLog.style.display = 'none';
                location.assign('/show');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>
