<%- include("../../partials/header"); %>

<div class="main-body-extended">
    <div class="panel-container-3c-eq">

        <div class="panel-header">
            <div class="title">
                <h1><%- entry.name %></h1>
                <h3>(<%- entry.longName %>)</h3>
            </div>
        </div>

        <div class="panel-containee empty"></div>
        <div class="panel-containee empty-first"></div>

        <%- include("../../partials/exchanges-exchange-charts", { 'exItem': entry }); %>
        <%- include("../../partials/exchanges-forex-summary", { 'exItem': entry }); %>
    </div>
</div>

<%- include("../../partials/footer"); %>
<%- include("../../partials/formatters"); %>
<%- include("../../modal/modal"); %>

<script src="/scripts/charts.js"></script>