<!-- requires exchanges item (crypto) -->
<div class="panel-containee panel-border">
    <div class="title">
        <h2>Summary</h2>
    </div>
    <div class="content">
        <div class="panel-container-2c">
            <div class="panel-container-2c-immutable highlight" style="grid-column: 1 / -1">
                <div class="panel-containee left">
                    <p class="emphasize-plusplus"><span class="format-currency"><%- crypto.exchangeRate.Rate %></span></p>
                    <p>Last update: <span class="format-date"><%- crypto.exchangeQuote.LastRefreshed %></span></p>
                </div>
                <div class="panel-containee right">
                    <p class="emphasize-plusplus"><span class="format-currency"><%- crypto.exchangeCalculated.Change %></span></p>
                    <p><span class="format-percentage"><%- crypto.exchangeCalculated.ChangePercent %></span></p>
                </div>
            </div>
            <div class="panel-container-2c-immutable">
                <div class="panel-containee left">
                    <p class="ptitle nowrap">Rank</p>
                    <p class="ptitle nowrap">Market Cap</p>
                    <p class="ptitle nowrap">Market Cap Change 24h</p>
                    <p class="ptitle nowrap">Market Cap Change 24h Percentage</p>
                    <p class="ptitle nowrap">Total Supply</p>
                    <p class="ptitle nowrap">Circulating Supply</p>
                </div>
                <div class="panel-containee right">
                    <p class="nowrap"><span class="format-integer"><%- crypto.exchangeOverview.MarketCapRank %></span></p>
                    <p class="nowrap"><span class="format-integer-short"><%- crypto.exchangeOverview.MarketCap %></span></p>
                    <p class="nowrap"><span class="format-integer-short"><%- crypto.exchangeOverview.MarketCapChange24h %></span></p>
                    <p class="nowrap"><span class="format-percentage"><%- crypto.exchangeOverview.MarketCapChange24hPercentage %></span></p>
                    <p class="nowrap"><span class="format-integer-short"><%- crypto.exchangeOverview.TotalSupply %></span></p>
                    <p class="nowrap"><span class="format-integer-short"><%- crypto.exchangeOverview.CirculatingSupply %></span></p>
                </div>
            </div>
            <div class="panel-container-2c-immutable">
                <div class="panel-containee left">
                    <p class="ptitle nowrap">All Time High</p>
                    <p class="ptitle nowrap">ATH Date</p>
                    <p class="ptitle nowrap">All Time Low</p>
                    <p class="ptitle nowrap">ATL Date</p>
                    <p class="ptitle nowrap">ROI %</p>
                </div>
                <div class="panel-containee right">
                    <p class="nowrap"><span class="format-currency"><%- crypto.exchangeOverview.HighAllTime %></span></p>
                    <p class="nowrap"><span class="format-date-long"><%- crypto.exchangeOverview.HighAllTimeDate %></span></p>
                    <p class="nowrap"><span class="format-currency"><%- crypto.exchangeOverview.LowAllTime %></span></p>
                    <p class="nowrap"><span class="format-date-long"><%- crypto.exchangeOverview.LowAllTimeDate %></span></p>
                    <p class="nowrap"><span class="format-percentage"><%- crypto.exchangeOverview.ROI %></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
