<!-- requires exchanges item (stock) -->
<div class="panel-containee panel-border" style="grid-area: main3;">
    <div class="title">
        <h2>Summary</h2>
    </div>
    <div class="content">
        <div class="panel-container-2c">
            <div class="panel-container-2c highlight" style="grid-column: 1 / -1">
                <div class="panel-containee left">
                    <p class="emphasize-plusplus"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeQuote.Price %></span></p>
                    <p>Last update: <span class="format-date"><%- stock.exchangeQuote.LastTradingDay %></span></p>
                </div>
                <div class="panel-containee right">
                    <p class="emphasize-plusplus"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeQuote.Change %></span></p>
                    <p><span class="format-percentage"><%- stock.exchangeQuote.ChangePercent %></span></p>                
                </div>
            </div>
            <div class="panel-container-2c-immutable">
                <div class="panel-containee left">
                    <p class="ptitle nowrap">High</p>
                    <p class="ptitle nowrap">Low</p>
                    <p class="ptitle nowrap">Previous Close</p>
                    <p class="ptitle nowrap">Open</p>
                    <p class="ptitle nowrap">P/E</p>
                    <p class="ptitle nowrap">Forward P/E</p>
                    <p class="ptitle nowrap">Volume</p>
                    <p class="ptitle nowrap">Dividend</p>
                    <p class="ptitle nowrap">Dividend Date</p>
                    <p class="ptitle nowrap">Dividend Yield</p>
                    <p class="ptitle nowrap">Dividend Payout</p>                            
                </div>
                <div class="panel-containee right">
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeQuote.High %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeQuote.Low %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeQuote.PreviousClose %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeQuote.Open %></span></p>
                    <p class="nowrap"><span class="format-3-fraction-digits"><%- stock.exchangeOverview.PERatio %></span></p>
                    <p class="nowrap"><span class="format-3-fraction-digits"><%- stock.exchangeOverview.ForwardPE %></span></p>
                    <p class="nowrap"><span class="format-integer-short"><%- stock.exchangeQuote.Volume %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeOverview.Dividend %></span></p>
                    <p class="nowrap"><span class="format-date"><%- stock.exchangeOverview.DividendDate %></span></p>
                    <p class="nowrap"><span class="format-percentage"><%- stock.exchangeCalculated.DividendYieldPercent %></span></p>
                    <p class="nowrap"><span class="format-percentage"><%- stock.exchangeCalculated.DividendPayoutRatioPercent %></span></p>                            
                </div>
            </div>
            <div class="panel-container-2c-immutable">
                <div class="panel-containee left">
                    <p class="ptitle nowrap">52-Week High</p>
                    <p class="ptitle nowrap">52-Week Low</p>
                    <p class="ptitle nowrap">52-Week Range</p>
                    <p class="ptitle nowrap">Market Cap</p>
                    <p class="ptitle nowrap">EPS</p>
                    <p class="ptitle nowrap">Book value</p>
                    <p class="ptitle nowrap">Price/Book</p>
                    <p class="ptitle nowrap">Price/Sales</p>
                    <p class="ptitle nowrap">Target Price</p>
                    <p class="ptitle nowrap">Profit Margin</p>
                    <p class="ptitle nowrap">Shares</p>
                </div>
                <div class="panel-containee right">
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeOverview.Week52High %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeOverview.Week52Low %></span></p>
                    <p class="nowrap"><span class="format-percentage"><%- stock.exchangeCalculated.Week52RangePercent %></span></p>
                    <p class="nowrap"><span class="format-integer-short"><%- stock.exchangeOverview.MarketCapitalization %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeOverview.EPS %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeOverview.BookValue %></span></p>
                    <p class="nowrap"><span class="format-3-fraction-digits"><%- stock.exchangeOverview.PriceToBookRatio %></span></p>
                    <p class="nowrap"><span class="format-3-fraction-digits"><%- stock.exchangeOverview.PriceToSalesRatioTTM %></span></p>
                    <p class="nowrap"><span class="format-currency-<%- stock.exchangeOverview.Currency %>"><%- stock.exchangeOverview.TargetPrice %></span></p>
                    <p class="nowrap"><span class="format-percentage-raw"><%- stock.exchangeOverview.ProfitMargin %></span></p>
                    <p class="nowrap"><span class="format-integer-short"><%- stock.exchangeOverview.SharesOutstanding %></span></p>                                
                </div>
            </div>
        </div>
    </div>
</div>
