<!-- requires exchanges item (stock) -->
<div class="panel-containee panel-border">
    <div class="title">
        <p>Profile</p>
    </div>
    <div class="content">
        <p class="ptitle"><%- stock.exchangeOverview.Name %></p>
        <p class="paragraph"><%- stock.exchangeOverview.Description %></p>
        <p class="ptitle">Industry</p>
        <p class="paragraph"><%- stock.exchangeOverview.Industry %></p>
        <p class="ptitle">Sector</p>
        <p class="paragraph"><%- stock.exchangeOverview.Sector %></p>
        <p class="ptitle">Currency</p>
        <p class="paragraph"><%- stock.exchangeOverview.Currency %></p>    
    </div>
</div>
