<%- include("./partials/header"); -%>

<form autocomplete="off">
    <h2>Add Asset</h2>
    <div>
        <label for="kind">Kind</label>
        <select id="kind" autofocus>
            <option value="Stock">Stock</option>
            <option value="Crypto">Crypto</option>
            <option value="Cash">Cash</option>
        </select>  
    </div>
    <div id="entry-stock-div">
        <label for="ticker">Ticker</label>
        <input type="text" id="ticker" placeholder="Stock ticker (eg. MSFT)"/>
        <div class="ticker error"></div>
    </div>
    <div id="entry-crypto-div">
        <label for="crypto">From crypto</label>
        <input type="text" id="crypto" placeholder="Crypto symbol (eg. ETH)"/>
        <div class="crypto error"></div>
    </div>
    <div id="entry-cash-div">
        <label for="currency">Currency</label>
        <select id="currency">
            <% currencies.forEach((currency) => { %>
                <option value="<%- currency.short %>"><%- currency.long %> (<%- currency.symbol %>)</option>
            <% }); %>
        </select>
        <div class="currency error"></div>
    </div>
    <button>Add</button>
</form>

<%- include("./partials/footer"); -%>

<script>
//<![CDATA[

$("#kind").change(function () {
    if ($(this).val() == "Stock") {
        $('#entry-stock-div').show();
        $('#ticker').attr('required', '');
    } else {
        $('#entry-stock-div').hide();
        $('#ticker').removeAttr('required');
        $('#ticker').val('');
    }
    if ($(this).val() == "Crypto") {
        $('#entry-crypto-div').show();
        $('#crypto').attr('required', '');
    } else {
        $('#entry-crypto-div').hide();
        $('#crypto').removeAttr('required');
        $('#crypto').val('');
    }
    if ($(this).val() == "Cash") {
        $('#entry-cash-div').show();
        $('#currency').attr('required', '');
    } else {
        $('#entry-cash-div').hide();
        $('#currency').removeAttr('required');
        $('#currency').val('');
    }
});
$("#kind").trigger("change");

//]]>
</script>

<script type="text/javascript">
    const form = document.querySelector('form');
    const tickerError = document.querySelector('.ticker.error');
    const cryptoError = document.querySelector('.crypto.error');
    const currencyError = document.querySelector('.currency.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // reset errors
        tickerError.textContent = '';
        cryptoError.textContent = '';
        currencyError.textContent = '';

        // get values
        const kind = form.kind.value;
        const ticker = form.ticker.value;
        const crypto = form.crypto.value;
        const currency = form.currency.value;

        try {
            const res = await fetch('/portfolios/<%- portfolio_id %>/assets/create', {
                method: 'POST',
                body: JSON.stringify({ kind, ticker, crypto, currency }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                tickerError.textContent = data.errors.ticker;
                cryptoError.textContent = data.errors.crypto;
                currencyError.textContent = data.errors.currency;
            }
            if (data.asset) {
                location.assign('/portfolios/<%- portfolio_id %>');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>
