<%- include("./partials/header"); -%>

<div class="total-overview">
    <div class="total-overview-header">
        <h1>Overview</h1>
    </div>
    <div class="total-overview-row">
        <% if (portfolios === undefined) { %>
            <div class="error">An error occurred!</div>
        <% } else if (portfolios.length == 1) { %>
            <h3>1 portfolio!</h3>
        <% } else { %>
            <h3><%- portfolios.length %> portfolios!</h3>
        <% } %>
    </div>
</div>

<div class="mini-nav">
    <ul>
        <li><a href="/portfolios">Overview</a></li>
        <li><a href="/portfolios/create" class="btn">Add Portfolio</a></li>
        <li><a href="/portfolios/remove" class="btn">Remove All Portfolios</a></li>
    </ul>
</div>

<div class="portfolios-list">
    <% if (portfolios === undefined) { %>
        <div class="error">An error occurred!</div>
    <% } else if (portfolios.length == 0) { %>
        <div class="error">There are no portfolios!</div>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Value</th>
                    <th>Cost Basis</th>
                    <th>Daily</th>
                    <th>Total</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
        <% portfolios.forEach((portfolio) => { %>
                <tr>
                    <td rowspan="2"><a href="/portfolios/<%= portfolio._id %>"><%- portfolio.portfolio %></a></td>          
                    <td pos-neg-number-formatting=<%- portfolio.unrealized_value %> />
                    <td pos-neg-number-formatting=<%- portfolio.cost_basis %> />
                    <td pos-neg-number-formatting=<%- portfolio.daily_value %> />                    
                    <td pos-neg-number-formatting=<%- portfolio.total_value %> />                    
                    <!-- <td rowspan="2" class="delete">
                        <img src="/img/trashcan.svg" alt="delete icon"/>
                    </td> -->
                    <td rowspan="2">
                        <!-- <form method="POST" action="/portfolios/<%= portfolio._id %>/delete"> -->
                        <!-- <form> -->
                            <div id="delete-div-<%-portfolio._id %>">
                                <button class="btn-delete" data-id="<%-portfolio._id %>">Delete</button>
                            </div>
                            <div id="confirm-div-<%-portfolio._id %>" class="hidden">
                                <button class="btn-cancel" data-id="<%-portfolio._id %>">Cancel</button>
                                <button class="btn-confirm" data-id="<%-portfolio._id %>">Confirm</button>
                            </div>
                        <!-- </form> -->
                    </td>
                </tr>
                <tr>
                    <td pos-neg-number-formatting=<%- portfolio.unrealized_value_percentage %> >%</td>
                    <td>&nbsp;</td>
                    <td pos-neg-number-formatting=<%- portfolio.daily_value_percentage %> >%</td>
                    <td pos-neg-number-formatting=<%- portfolio.total_value_percentage %> >%</td>                    
                </tr>
        <% }); %>
            </tbody>
        </table>
    <% } %>
</div>

<%- include("./partials/footer"); -%>


<script>
//<![CDATA[

$("button.btn-delete").click(function () {
    var id = this.dataset.id;
    $('#delete-div-' + id).addClass("hidden");
    $('#confirm-div-' + id).removeClass("hidden");
});

$("button.btn-cancel").click(function () {
    var id = this.dataset.id;
    $('#delete-div-' + id).removeClass("hidden");
    $('#confirm-div-' + id).addClass("hidden");
});

$("button.btn-confirm").click(function () {
    var id = this.dataset.id;
    $.post("/portfolios/" + id + "/remove");
});

//]]>
</script>
