<%- include("./partials/header"); -%>

<div class="total-overview">
    <div class="total-overview-header">
        <h1><%- portfolio.name %> (<%- portfolio.currency %>)</h1>
    </div>
    <div class="total-overview-row">
        <h3>
           <span class="larger-font"><%- portfolio.unrealized_value %></span>
           <span class="smaller-font">(<%- portfolio.realized_value %>)</span>
        </h3>
    </div>
</div>

<div class="mini-nav">
    <ul>
        <li><a href="/show">Return</a></li>
        <li><a href="/portfolios/<%= portfolio._id %>/asset/create" class="btn">Add Asset</a></li>
        <li><a href="/portfolios/<%= portfolio._id %>">Refresh</a></li>
    </ul>
</div>

<div class="assets-list">
<!-- <%# [portfolio.stock_assets, portfolio.crypto_assets, portfolio.cash_assets].forEach((assets) => { %> -->
<!-- <%# }) %>   -->
    <p>TODO</p>
</div>

<!--

    <div class="error">An error occurred!</div>
    <div class="error">There are no assets!</div>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Last Price</th>
                    <th>Change</th>
                    <th>Value / Cost</th>
                    <th>Daily</th>
                </tr>
            </thead>
            <tbody>
                <% assets.forEach((asset) => { %>
                    <tr>
                        <td rowspan="2"><%- asset.kind %></td>
                        <td><a href="/portfolios/<%= portfolio._id %>/asset/<%= asset._id %>"><%- asset.name %></a></td>
                        <td pos-neg-number-formatting=<%#- asset.exchangeIntraday.Open %> >todo</td>
                        <td pos-neg-number-formatting=<%- asset.change_value %> ></td>
                        <td pos-neg-number-formatting=<%- asset.unrealized_value %> ></td>
                        <td pos-neg-number-formatting=<%- asset.daily_value %> ></td>
                    </tr>
                    <tr>
                        <td><a href="/portfolios/<%= portfolio._id %>/asset/<%=asset._id %>"><%#- asset.exchangeOverview.Name %>todo</a></td>          
                        <td pos-neg-number-formatting=<%#- asset.exchangeIntraday.LastRefreshed %> >todo</td>
                <td pos-neg-number-formatting=<%- asset.change_value_percentage %> >%</td>
                <td pos-neg-number-formatting=<3%- asset.unrealized_value_percentage %> >%</td>
                <td pos-neg-number-formatting=<%- asset.daily_value_percentage %> >%</td>
            </tr>
            <%# }); %>
        </tbody>
    </table>
    <%# } %>
</div>

-->
<%- include("./partials/footer"); -%>
