<%- include("./partials/header"); -%>

<div class="total-overview">
    <div class="total-overview-header">
        <h1><%- portfolio.name %> <span class="smaller-font">(<%- portfolio.currency %>)</span></h1>
    </div>
    <div class="total-overview-row">
        <h3>
           <span class="larger-font"><%- portfolio.unrealized_value %></span>
           <span class="smaller-font">(<%- portfolio.realized_value %>)</span>
        </h3>
    </div>
</div>

<div class="mini-nav">
    <ul>
        <li><a href="/show">Return</a></li>
        <li><a href="/portfolios/<%= portfolio._id %>/assets/create" class="btn">Add Asset</a></li>
        <li><a href="/portfolios/<%= portfolio._id %>">Refresh</a></li>
    </ul>
</div>

<div class="assets-list">
    <div class="assets-stock-list">
        <% if (portfolio.stock_assets.length == 0) { %>
            <div class="error">There are no stocks!</div>
        <% } else { %>
            <table class="sortable">
                <thead>
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Change</th>

                    <th>Value<br/>Cost</th>
                    <th>Daily</th>
                    <th>Total</th>
                </thead>
                <tbody>
                <% portfolio.stock_assets.forEach(asset => { %>

                    <tr class="item">
                        <td sorttable_customkey="<%- asset.exchange_id.name %>">
                            <a href="/exchanges/<%- asset.exchange_id._id %>"><%- asset.exchange_id.name %></a><br/>
                            <span class="smaller-font"><a href="/exchanges/<%- asset.exchange_id._id %>"><%- asset.exchange_id.exchangeOverview.Name %></a></span>
                        </td>                                    
                        <td sorttable_customkey="<%- asset.exchange_id.exchangeQuote.Price %>">
                            <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.exchange_id.exchangeQuote.Price %></span><br/>
                            <span class="smaller-font format-time"><%- asset.exchange_id.exchangeQuote.updatedAt %></span>
                        </td>
                        <td sorttable_customkey="<%- asset.exchange_id.exchangeQuote.Change %>">
                            <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.exchange_id.exchangeQuote.Change %></span><br/>
                            <span class="smaller-font format-percentage"><%- asset.exchange_id.exchangeQuote.ChangePercent %></span>
                        </td>
                        
                        <td sorttable_customkey="<%- asset.unrealized_value %>">
                            <span class="format-currency-<%- portfolio.currency %>"><%- asset.unrealized_value %></span><br/>
                            <span class="smaller-font format-percentage"><%- asset.unrealized_value_percentage %></span>
                        </td>
                        <td sorttable_customkey="<%- asset.daily_value %>">
                            <span class="format-currency-<%- portfolio.currency %>"><%- asset.daily_value %></span><br/>
                            <span class="smaller-font format-percentage"><%- asset.daily_value_percentage %></span>
                        </td>
                        <td sorttable_customkey="<%- asset.change_value %>">
                            <span class="format-currency-<%- portfolio.currency %>"><%- asset.change_value %></span><br/>
                            <span class="smaller-font format-percentage"><%- asset.change_value_percentage %></span> 
                        </td>
                    </tr>
            
                <% }); %>
                </tbody>
            </table>
        <% } %>
    </div>
</div>

<%- include("./partials/footer"); -%>

<script>
    $(document).ready( function() {
        $(".format-currency-USD").each(function() {
            if ($(this).text() == '0') {
                $(this).html('-');
            } else {
                $(this).html(parseFloat($(this).text()).toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2 }));
            }
        });
        $(".format-percentage").each(function() {
            if ($(this).text() == '0') {
                $(this).html('-');
            } else {
                $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 }) + '%');
            }
        });
        $(".format-3-fraction-digits").each(function() {
            if ($(this).text() == '0') {
                $(this).html('-');
            } else {
                $(this).html(parseFloat($(this).text()).toLocaleString('en-US', { minimumFractionDigits: 3, maximumFractionDigits: 3 }));
            }
        });
        $(".format-integer").each(function() {
            if ($(this).text() == '0') {
                $(this).html('-');
            } else {
                $(this).html(parseInt($(this).text()).toLocaleString('en-US'));
            }
        });
        $(".format-time").each(function() {
            if ($(this).text() == '0') {
                $(this).html('-');
            } else {
                const mdate = new Date($(this).text());
                $(this).html(('0'+mdate.getHours()).slice(-2) + ':' + ('0'+mdate.getMinutes()).slice(-2));
            }
        });
    });
</script>