<%- include("./partials/header"); %>

<div class="main-body">
            
<div class="panel-container-2c">

    <div class="panel-header">
        <div class="title">
            <h1>Overview</h1>
        </div>
        <div class="title">
            <% if ((portfolios === undefined) || (watchlists === undefined)) { %>
                <div class="error">An error occurred!</div>
            <% } else { %>
                <% const pstr = (portfolios.length == 1) ? 'portfolio' : 'portfolios'; %>
                <% const wstr = (watchlists.length == 1) ? 'watchlist' : 'watchlists'; %>
                <h3>(<%- portfolios.length %> <%- pstr %> and <%- watchlists.length %> <%- wstr %>)</h3>
            <% } %>
        </div>
    </div>
    <div class="panel-containee empty"></div>

    <div class="panel-containee panel-border">
        <div class="title">
            <div class="mini-nav">
                <ul>
                    <li><button data-modal-target="#portfolios-add-modal">Add Portfolio</button></li>
                    <li><a href="/show/recalculate" title="Recalculate" class="icon"><img src="/img/iconmonstr-synchronization-18.svg" alt="Recalculate" class="button-svg"></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="standard-list">
                <% if (portfolios === undefined) { %>
                    <div class="error">An error occurred!</div>
                <% } else if (portfolios.length == 0) { %>
                    <div class="error">There are no portfolios!</div>
                <% } else { %>
                    <table class="sortable portfolios-list">
                        <thead>
                            <tr>
                                <th>Portfolio Name</th>
                                <th>Unrealized</th>
                                <th>Daily</th>
                                <th>Realized</th>
                                <th>Cost</th>
                                <th>Total</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% portfolios.forEach((portfolio) => { %>
                            <tr class="item">
                                <td sorttable_customkey="<%- portfolio.name %>">
                                    <div class="truncated">
                                        <a href="/portfolios/<%= portfolio._id %>"><%- portfolio.name %></a>
                                    </div>
                                </td>
                                <td sorttable_customkey="<%- portfolio.unrealized_value %>">
                                    <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.unrealized_value %></span><br>
                                    <span class="format-percentage"><%- portfolio.unrealized_value_percentage %></span>
                                </td>
                                <td sorttable_customkey="<%- portfolio.daily_value_percentage %>">
                                    <span class="format-currency-<%- portfolio.currency %> format-pos-neg-color"><%- portfolio.daily_value %></span><br>
                                    <span class="format-percentage format-pos-neg-color"><%- portfolio.daily_value_percentage %></span>
                                </td>
                                <td sorttable_customkey="<%- portfolio.realized_value %>">
                                    <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.realized_value %></span>
                                </td>
                                <td sorttable_customkey="<%- portfolio.total_cost %>">
                                    <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.total_cost %></span>
                                </td>
                                <td sorttable_customkey="<%- portfolio.total_value %>">
                                    <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.total_value %></span>
                                </td>
                                <td class="delete-row"><button onclick="portfoliosRemoveConfirmButton('<%- portfolio.name %>', { 'id': '<%- portfolio._id %>' })" class="icon"><img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink"></button></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </div>            
        </div>
    </div>

    <div class="panel-containee panel-border">
        <div class="title">
            <div class="mini-nav">
                <ul>
                    <li><button data-modal-target="#watchlists-add-modal">Add Watchlist</button></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="standard-list">
                <% if (watchlists === undefined) { %>
                    <div class="error">An error occurred!</div>
                <% } else if (watchlists.length == 0) { %>
                    <div class="error">There are no watchlists!</div>
                <% } else { %>
                    <table class="sortable watchlists-list">
                        <thead>
                            <tr>
                                <th>Watchlist Name</th>
                                <th>Stocks</th>
                                <th>Cryptos</th>
                                <th>Cash</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% watchlists.forEach((watchlist) => { %>
                            <tr class="item">
                                <td sorttable_customkey="<%- watchlist.name %>">
                                    <div class="truncated">
                                        <a href="/watchlists/<%= watchlist._id %>"><%- watchlist.name %></a>
                                    </div>
                                </td>
                                <td><%- watchlist.stock_entries.length %></td>      
                                <td><%- watchlist.crypto_entries.length %></td>      
                                <td><%- watchlist.cash_entries.length %></td> 
                                <td class="delete-row">
                                    <button onclick="watchlistsRemoveConfirmButton('<%- watchlist.name %>', { 'id': '<%- watchlist._id %>' })" class="icon">
                                        <img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink">
                                    </button>
                                </td>     
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                <% } %>
            </div>            
        </div>
    </div>

</div>

</div>


<%- include("./partials/footer"); %>
<%- include("./partials/formatters"); %>
<%- include("./modal/portfolios-add-modal"); %>
<%- include("./modal/watchlists-add-modal"); %>
<%- include("./modal/remove-confirm-modal", { 'prefix': 'portfolios', 'post': '/portfolios', 'redirect': '/show' }); %>
<%- include("./modal/remove-confirm-modal", { 'prefix': 'watchlists', 'post': '/watchlists', 'redirect': '/show' }); %>
<%- include("./modal/modal"); %>