<%- include("./partials/header"); -%>

<div class="total-overview">
    <div class="total-overview-header">
        <h1>Overview</h1>
    </div>
    <div class="total-overview-row">
        <% if (portfolios === undefined) { %>
            <div class="error">An error occurred!</div>
        <% } else if (portfolios.length == 1) { %>
            <h3>1 portfolio!</h3>
        <% } else { %>
            <h3><%- portfolios.length %> portfolios!</h3>
        <% } %>
    </div>
</div>

<div class="mini-nav">
    <ul>
        <li><a href="/portfolios/create" class="btn">Add Portfolio</a></li>
        <li><a href="/show">Refresh</a></li>
    </ul>
</div>

<div class="portfolios-list">
    <% if (portfolios === undefined) { %>
        <div class="error">An error occurred!</div>
    <% } else if (portfolios.length == 0) { %>
        <div class="error">There are no portfolios!</div>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Total Value</th>
                    <th>Cost Basis</th>
                    <th>Daily</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
        <% portfolios.forEach((portfolio) => { %>
                <tr>
                    <td><a href="/portfolios/<%= portfolio._id %>"><%- portfolio.name %></a></td>          
                    <td pos-neg-number-formatting=<%- portfolio.unrealized_value %> />
                    <td pos-neg-number-formatting=<%- portfolio.cost_basis %> />
                    <td pos-neg-number-formatting=<%- portfolio.daily_value %> />                    
                    <td pos-neg-number-formatting=<%- portfolio.total_value %> />                    
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td pos-neg-number-formatting=<%- portfolio.daily_value_percentage %> >%</td>
                    <td>&nbsp;</td>
                    <td pos-neg-number-formatting=<%- portfolio.unrealized_value_percentage %> >%</td>
                    <td pos-neg-number-formatting=<%- portfolio.total_value_percentage %> >%</td>                    
                </tr>
        <% }); %>
            </tbody>
        </table>
    <% } %>
</div>

<div class="mini-nav">
    <ul>
        <li><a href="/watchlists/create" class="btn">Add Watchlist</a></li>
    </ul>
</div>

<div class="watchlists-list">
    <% if (watchlists === undefined) { %>
        <div class="error">An error occurred!</div>
    <% } else if (watchlists.length == 0) { %>
        <div class="error">There are no watchlists!</div>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stocks</th>
                    <th>Cryptos</th>
                    <th>Cash</th>
                </tr>
            </thead>
            <tbody>
        <% watchlists.forEach((watchlist) => { %>
                <tr>
                    <td><a href="/watchlists/<%= watchlist._id %>"><%- watchlist.name %></a></td>
                    <td><%- watchlist.stock_entries.length %></td>      
                    <td><%- watchlist.crypto_entries.length %></td>      
                    <td><%- watchlist.cash_entries.length %></td>      
                </tr>
        <% }); %>
            </tbody>
        </table>
    <% } %>
</div>


<%- include("./partials/footer"); -%>
