<%- include("./partials/header"); %>

<div class="main-extended-body">

<div class="total-overview">
    <div class="total-overview-header">
        <h1><%- watchlist.name %></h1>
    </div>
    <div class="total-overview-row">
        <h3>
            <% var stoc='stocks', cryp='cryptos', cash='currencies'; %>
            <% if (watchlist.stock_entries.length == 1) { stoc='stock'; } %>
            <% if (watchlist.crypto_entries.length == 1) { cryp='crypto'; } %>
            <% if (watchlist.stock_entries.length == 1) { cash='currency'; } %>
            <span class="larger-font">
                (<%- watchlist.stock_entries.length %> <%- stoc %>, 
                 <%- watchlist.crypto_entries.length %> <%- cryp %> and
                 <%- watchlist.cash_entries.length %> <%- cash %>)
            </span>
        </h3>
    </div>
</div>

<div class="mini-nav">
    <ul>
        <li><a href="/show">Return</a></li>
        <li><a href="/watchlists/<%= watchlist._id %>/entries/create" class="btn">Add Entry</a></li>
        <li><a href="/watchlists/<%= watchlist._id %>">Refresh</a></li>
    </ul>
</div>

<% if ((watchlist.stock_entries.length == 0) && (watchlist.crypto_entries.length == 0) && (watchlist.cash_entries.length == 0)) { %>
    <div class="error">There are no entries!</div>
<% } %>

<% if (watchlist.stock_entries.length > 0) { %>
<div class="entries-list">
    <div class="entries-stock-list">
        <table class="sortable">
            <thead>
                <th>Ticker</th>
                <!-- <th>Industry</th> -->
                <!-- <th>Sector</th> -->
        
                <th>52wk High</th>
                <th>52wk Low</th>
                <th>52wk Range</th>
                
                <th>Price</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
                <th>Change</th>
                <th>Change%</th>
                
                <th>P/E</th>
                <th>EPS</th>
                <th>Dividend</th>
                <th>Dividend Yield</th>
                <th>Dividend Payout</th>
            </thead>
            <tbody>
            <% watchlist.stock_entries.forEach(entry => { %>
                <tr class="item">
                    <td sorttable_customkey="<%- entry.name %>"><a href="/exchanges/<%- entry._id %>"><%- entry.name %></a></td>
                    <!-- <td><%#- entry.exchangeOverview.Industry %></td> -->
                    <!-- <td><%#- entry.exchangeOverview.Sector %></td> -->
        
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.Week52High %></span></td>
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.Week52Low %></span></td>
                    <td><span class="format-percentage"><%- entry.exchangeCalculated.Week52RangePercent %></span></td>

                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.Price %></span></td>
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.Open %></span></td>
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.High %></span></td>
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.Low %></span></td>
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.PreviousClose %></span></td>

                    <td><span class="format-integer-short"><%- entry.exchangeQuote.Volume %></span></td>
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.Change %></span></td>
                    <td><span class="format-percentage"><%- entry.exchangeQuote.ChangePercent %></span></td>
                    <td><span class="format-3-fraction-digits"><%- entry.exchangeOverview.PERatio %></span></td>
                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.EPS %></span></td>

                    <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.Dividend %></span></td>
                    <td><span class="format-percentage"><%- entry.exchangeCalculated.DividendYieldPercent %></span></td>
                    <td><span class="format-percentage"><%- entry.exchangeCalculated.DividendPayoutRatioPercent %></span></td>
                </tr>
            
            <% }); %>
            </tbody>
        </table>
    </div>
</div>
<% } %>

<% if (watchlist.crypto_entries.length > 0) { %>
<div class="entries-list">
    <div class="entries-crypto-list">
        todo
    </div>
</div>
<% } %>

<% if (watchlist.cash_entries.length > 0) { %>
<div class="entries-list">
    <div class="entries-cash-list">
        todo
    </div>
</div>
<% } %>

</div>

<%- include("./partials/footer"); %>

<%- include("./partials/formatters"); %>

