<%- include("../partials/header"); %>

<% const hasStocks = (portfolio.stock_assets.length > 0); %>
<% const hasCryptos = (portfolio.crypto_assets.length > 0); %>
<% const hasCash = (portfolio.cash_assets.length > 0); %>
<% const hasAssets = (hasStocks || hasCryptos || hasCash); %>

<div class="main-body">

<div class="panel-container-2c-7525">
    
    <div class="panel-header">
        <div class="title">
            <h1><%- portfolio.name %> <span class="emphasize-minusminus">(<%- portfolio.currency %>)</span></h1>
        </div>
        <div class="title">
            <div class="mini-nav">
                <ul>
                    <li><button data-modal-target="#assets-add-modal">Add Asset</button></li>
                    <li><a href="/show" title="Go back" class="icon"><img src="/img/iconmonstr-arrow-76.svg" alt="Go back" class="button-svg"></a></li>
                    <li><a href="/portfolios/<%- portfolio._id %>/recalculate" title="Recalculate" class="icon"><img src="/img/iconmonstr-synchronization-18.svg" alt="Recalculate" class="button-svg"></a></li>
                </ul>
            </div>
        </div>        
    </div>

    <div class="panel-containee">
        <!-- empty -->
    </div>

    <% if (hasAssets) { %>
    <div class="panel-containee">
        <div class="content">
            <div class="panel-container-2c-immutable">

                <div class="panel-container-2c-immutable">
                    <div class="panel-containee left">
                        <p class="emphasize-plusplus">
                            <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.unrealized_value %></span>
                        </p>
                        <p class="emphasize-plus">
                            <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.daily_value %></span>
                        </p>
                    </div>
                    <div class="panel-containee right"></div>
                </div>
                
                <div class="panel-container-2c-immutable">
                    <div class="panel-containee left"></div>
                    <div class="panel-containee right">
                        <p class="emphasize-plusplus">
                            <span class="format-percentage"><%- portfolio.unrealized_value_percentage %></span>
                        </p>
                        <p class="emphasize-plus">
                            <span class="format-percentage"><%- portfolio.daily_value_percentage %></span>
                        </p>
                    </div>
                </div>

                <div class="panel-container-2c-immutable">
                    <div class="panel-containee left">
                        <p class="ptitle nowrap">Realized</p>
                        <p class="ptitle nowrap">Transactions</p>
                    </div>
                    <div class="panel-containee right">
                        <p class="nowrap"><span class="format-currency-<%- portfolio.currency %>"><%- portfolio.realized_value %></span></p>
                        <p class="nowrap"><span class="format-integer"><%- portfolio.total_transactions %></span</p>
                    </div>
                </div>
                <div class="panel-container-2c-immutable">
                    <div class="panel-containee left">
                        <p class="ptitle nowrap">Costs</p>
                        <p class="ptitle nowrap">Value</p>
                    </div>
                    <div class="panel-containee right">
                        <p class="nowrap"><span class="format-currency-<%- portfolio.currency %>"><%- portfolio.total_cost %></span></p>
                        <p class="nowrap"><span class="format-currency-<%- portfolio.currency %>"><%- portfolio.total_value %></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-containee">
        <div class="chart-doughnut-standard" data-chart-doughnut='["Total Portfolio Value",<%- portfolio.unrealized_value %>]' data-chart-doughnut-type="currency" data-data='[<%- portfolio.stock_assets.length %>,<%- portfolio.crypto_assets.length %>,<%- portfolio.cash_assets.length %>]', data-labels='["Stocks","Cryptos","Cash"]'></div>
    </div>
    <% } else { %>
    <div class="error">There are no assets!</div>
    <% } %>

    
    <% if (hasStocks) { %>
        <% const values = [], labels = []; %>
        <% portfolio.stock_assets.filter(a => a.common.total_quantity > 0).forEach(asset => { %>
            <% values.push(asset.common.unrealized_value); %>
            <% labels.push(asset.exchange_id.name); %>
        <% }); %>

        <div class="panel-containee panel-border">
            <div class="title">
                <h2>Stocks</h2>
            </div>
            <div class="content">
                <div class="standard-list">
                    <table class="sortable portfolios-assets-list">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Price</th>
                                <th>Change</th>
            
                                <th>Unrealized</th>
                                <th>Realized</th>
                                <th>Cost</th>
                                <th>Daily</th>
                                <th>ROI (%)</th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% portfolio.stock_assets.forEach(asset => { %>
                            <tr class="item">
                                <td sorttable_customkey="<%- asset.exchange_id.name %>">
                                    <a href="/assets/stock/<%- asset._id %>"><%- asset.exchange_id.name %></a><br/>
                                    <span class="emphasize-minus"><a href="/assets/stock/<%- asset._id %>"><%- asset.exchange_id.exchangeOverview.Name %></a></span>
                                </td>                                    
                                <td sorttable_customkey="<%- asset.exchange_id.exchangeQuote.Price %>">
                                    <span class="format-currency"><%- asset.exchange_id.exchangeQuote.Price %></span><br/>
                                    <span class="emphasize-minus format-time"><%- asset.exchange_id.updatedAt %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.exchange_id.exchangeQuote.Change %>">
                                    <span class="format-currency format-pos-neg-color"><%- asset.exchange_id.exchangeQuote.Change %></span><br/>
                                    <span class="emphasize-minus format-percentage format-pos-neg-color"><%- asset.exchange_id.exchangeQuote.ChangePercent %></span>
                                </td>
                                
                                <td sorttable_customkey="<%- asset.unrealized_value %>">
                                    <span class="format-currency"><%- asset.common.unrealized_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.realized_value %>">
                                    <span class="format-currency"><%- asset.common.realized_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.total_cost %>">
                                    <span class="format-currency"><%- asset.common.total_cost %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.daily_value %>">
                                    <span class="format-currency"><%- asset.common.daily_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.unrealized_value_percentage %>">
                                    <span class="format-percentage"><%- asset.common.unrealized_value_percentage %></span>
                                </td>

                                <td class="delete-row"><button onclick="rcRemoveConfirmButton('<%- asset.exchange_id.name %>', { 'kind': 'Stock', 'id': '<%- asset._id %>' })" class="icon"><img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink"></button></td>
                            </tr>
                        <% }); %>        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-containee">
            <div class="chart-doughnut-standard" data-chart-doughnut='["Stocks",<%- portfolio.stock_unrealized_value %>]' data-chart-doughnut-type="currency" data-data='<%- JSON.stringify(values) %>' data-data-type="currency" data-labels='<%- JSON.stringify(labels) %>'></div>
        </div>
    <% } %>

    <% if (hasCryptos) { %>
        <% const values = [], labels = []; %>
        <% portfolio.crypto_assets.filter(asset => asset.common.status === 'open').forEach(asset => { %>
            <% values.push(asset.common.unrealized_value); %>
            <% labels.push(asset.exchange_id.from); %>
        <% }); %>

        <div class="panel-containee panel-border">
            <div class="title">
                <h2>Cryptos</h2>
            </div>
            <div class="content">
                <div class="standard-list">
                    <table class="sortable portfolios-assets-list">
                        <thead>
                            <tr>
                                <th>Crypto</th>
                                <th>Price</th>
                                <th>Change</th>
            
                                <th>Unrealized</th>
                                <th>Realized</th>
                                <th>Cost</th>
                                <th>Daily</th>
                                <th>ROI (%)</th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% portfolio.crypto_assets.forEach(asset => { %>
                            <tr class="item">
                                <td sorttable_customkey="<%- asset.exchange_id.name %>">
                                    <a href="/assets/crypto/<%- asset._id %>"><%- asset.exchange_id.name %></a><br/>
                                    <span class="emphasize-minus"><a href="/assets/crypto/<%- asset._id %>"><%- asset.exchange_id.longName %></a></span>
                                </td>                                    
                                <td sorttable_customkey="<%- asset.exchange_id.exchangeRate.Rate %>">
                                    <span class="format-currency"><%- asset.exchange_id.exchangeRate.Rate %></span><br/>
                                    <span class="emphasize-minus format-time"><%- asset.exchange_id.updatedAt %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.exchange_id.exchangeCalculated.Change %>">
                                    <span class="format-currency format-pos-neg-color"><%- asset.exchange_id.exchangeCalculated.Change %></span><br/>
                                    <span class="emphasize-minus format-percentage format-pos-neg-color"><%- asset.exchange_id.exchangeCalculated.ChangePercent %></span>
                                </td>

                                <td sorttable_customkey="<%- asset.common.unrealized_value %>">
                                    <span class="format-currency"><%- asset.common.unrealized_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.realized_value %>">
                                    <span class="format-currency"><%- asset.common.realized_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.total_cost %>">
                                    <span class="format-currency"><%- asset.common.total_cost %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.daily_value %>">
                                    <span class="format-currency"><%- asset.common.daily_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.unrealized_value_percentage %>">
                                    <span class="format-percentage"><%- asset.common.unrealized_value_percentage %></span>
                                </td>

                                <td class="delete-row"><button onclick="rcRemoveConfirmButton('<%- asset.exchange_id.shortName %>', { 'kind': 'Crypto', 'id': '<%- asset._id %>' })" class="icon"><img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink"></button></td>
                            </tr>
                        <% }); %>        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-containee">
            <div class="chart-doughnut-standard" data-chart-doughnut='["Cryptos",<%- portfolio.crypto_unrealized_value %>]' data-chart-doughnut-type="currency" data-data='<%- JSON.stringify(values) %>' data-data-type="currency" data-labels='<%- JSON.stringify(labels) %>'></div>
        </div>
    <% } %>

    <% if (hasCash) { %>
        <% const values = [], labels = []; %>
        <% portfolio.cash_assets.filter(asset => asset.common.status === 'open').forEach(asset => { %>
            <% values.push(asset.common.unrealized_value); %>
            <% labels.push(asset.exchange_id.from); %>
        <% }); %>

        <div class="panel-containee panel-border">
            <div class="title">
                <h2>Currencies</h2>
            </div>
            <div class="content">
                <div class="standard-list">
                    <table class="sortable portfolios-assets-list">
                        <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Price</th>
                                <th>Change</th>
            
                                <th>Unrealized</th>
                                <th>Realized</th>
                                <th>Cost</th>
                                <th>Daily</th>
                                <th>ROI (%)</th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% portfolio.cash_assets.forEach(asset => { %>
                            <tr class="item">
                                <td sorttable_customkey="<%- asset.exchange_id.name %>">
                                    <a href="/assets/cash/<%- asset._id %>"><%- asset.exchange_id.name %></a><br/>
                                    <span class="emphasize-minus"><a href="/assets/cash/<%- asset._id %>"><%- asset.exchange_id.longName %></a></span>
                                </td>                                    
                                <td sorttable_customkey="<%- asset.exchange_id.exchangeRate.Rate %>">
                                    <span class="format-currency"><%- asset.exchange_id.exchangeRate.Rate %></span><br/>
                                    <span class="emphasize-minus format-time"><%- asset.exchange_id.updatedAt %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.exchange_id.exchangeCalculated.Change %>">
                                    <span class="format-currency format-pos-neg-color"><%- asset.exchange_id.exchangeCalculated.Change %></span><br/>
                                    <span class="emphasize-minus format-percentage format-pos-neg-color"><%- asset.exchange_id.exchangeCalculated.ChangePercent %></span>
                                </td>

                                <td sorttable_customkey="<%- asset.common.unrealized_value %>">
                                    <span class="format-currency"><%- asset.common.unrealized_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.realized_value %>">
                                    <span class="format-currency"><%- asset.common.realized_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.total_cost %>">
                                    <span class="format-currency"><%- asset.common.total_cost %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.daily_value %>">
                                    <span class="format-currency"><%- asset.common.daily_value %></span>
                                </td>
                                <td sorttable_customkey="<%- asset.common.unrealized_value_percentage %>">
                                    <span class="format-percentage"><%- asset.common.unrealized_value_percentage %></span>
                                </td>

                                <td class="delete-row"><button onclick="rcRemoveConfirmButton('<%- asset.exchange_id.shortName %>', { 'kind': 'Cash', 'id': '<%- asset._id %>' })" class="icon"><img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink"></button></td>
                            </tr>
                        <% }); %>        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel-containee">
            <div class="chart-doughnut-standard" data-chart-doughnut='["Cash",<%- portfolio.cash_unrealized_value %>]' data-chart-doughnut-type="currency" data-data='<%- JSON.stringify(values) %>' data-data-type="currency" data-labels='<%- JSON.stringify(labels) %>'></div>
        </div>
    <% } %>

</div>

</div>

<%- include("../partials/footer"); %>
<%- include("../partials/formatters"); %>
<%- include("../modal/assets-add-modal"); %>
<%- include("../modal/remove-confirm-modal", { 'prefix': 'rc', 'post': '/portfolios/' + portfolio._id }); %>
<%- include("../modal/modal"); %>

<script src="/scripts/charts.js"></script>