<%- include("../partials/header"); %>

<% var hasAssets = true; %>
<% var nPanels = 0; %>
<% if (portfolio.stock_assets.length > 0) { %>
<%     nPanels += 1; %>
<% } else if (portfolio.crypto_assets.length > 0) { %>
<%     nPanels += 1; %>
<% } else if (portfolio.cash_assets.length > 0) { %>
<%     nPanels += 1; %>
<% } %>
<% if (nPanels == 0) { nPanels = 1; hasAssets = false; } %>

<!-- <% if (nPanels > 1) { %>
    <div class="main-body-extended">
<% } else { %>
    <div class="main-body">
<% } %> -->

<div class="main-body-extended">

<div class="panel-container-3c-le">
    
    <div class="panel-containee">
        <div class="title">
            <h1><%- portfolio.name %> <span class="emphasize-minusminus">(<%- portfolio.currency %>)</span></h1>
        </div>
        <% if (hasAssets) { %>
        <div class="content">
            <div class="panel-container-2c">

                <div class="panel-container-2c">
                    <div class="panel-containee left">
                        <p class="emphasize-plusplus">
                            <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.unrealized_value %></span>
                        </p>
                        <p class="emphasize-plus">
                            <span class="format-currency-<%- portfolio.currency %>"><%- portfolio.daily_value %></span>
                        </p>
                    </div>
                    <div class="panel-containee right"></div>
                </div>
                
                <div class="panel-container-2c">
                    <div class="panel-containee left"></div>
                    <div class="panel-containee right">
                        <p class="emphasize-plusplus">
                            <span class="format-percentage"><%- portfolio.unrealized_value_percentage %></span>
                        </p>
                        <p class="emphasize-plus">
                            <span class="format-percentage"><%- portfolio.daily_value_percentage %></span>
                        </p>
                    </div>
                </div>

                <div class="panel-container-2c">
                    <div class="panel-containee left">
                        <p class="ptitle nowrap">Realized</p>
                        <p class="ptitle nowrap">Transactions</p>
                    </div>
                    <div class="panel-containee right">
                        <p class="nowrap"><span class="format-currency-<%- portfolio.currency %>"><%- portfolio.realized_value %></span></p>
                        <p class="nowrap"><span class="format-integer"><%- portfolio.total_transactions %></span</p>
                    </div>
                </div>
                <div class="panel-container-2c">
                    <div class="panel-containee left">
                        <p class="ptitle nowrap">Costs</p>
                        <p class="ptitle nowrap">Value</p>
                    </div>
                    <div class="panel-containee right">
                        <p class="nowrap"><span class="format-currency-<%- portfolio.currency %>"><%- portfolio.total_cost %></span></p>
                        <p class="nowrap"><span class="format-currency-<%- portfolio.currency %>"><%- portfolio.total_value %></span></p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <div class="panel-containee">
        <div class="title"></div>
        <div class="content">
            
            <div class="panel-container" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;">
                <div class="chart-doughnut-standard" data-chart-doughnut-2='["Portfolio Value",<%- portfolio.unrealized_value %>]' data-chart-doughnut-data='[<%- portfolio.stock_assets.length %>,<%- portfolio.crypto_assets.length %>,<%- portfolio.cash_assets.length %>]', data-chart-doughnut-labels='["Stocks","Cryptos","Cash"]'></div>
            </div>
            </div>
                
        </div>
    </div>
    <!-- <div class="panel-containee">
        <div class="title"></div>
        <div class="content">
            
            <div class="panel-container" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;">
                <div class="chart-doughnut-standard" data-chart-doughnut-2='["Portfolio Value",<%- portfolio.unrealized_value %>]' data-chart-doughnut-data='[<%- portfolio.stock_assets.length %>,<%- portfolio.crypto_assets.length %>,<%- portfolio.cash_assets.length %>]', data-chart-doughnut-labels='["Stocks","Cryptos","Cash"]'></div>
            </div>
            </div>
                
        </div>
    </div> -->
    



    <div class="panel-containee panel-border">
        <div class="title">
            <div class="mini-nav">
                <ul>
                    <li><button data-modal-target="#assets-add-modal">Add Asset</button></li>
                    <li><a href="/show" title="Go back" class="icon"><img src="/img/iconmonstr-arrow-76.svg" alt="Go back" class="button-svg"></a></li>
                    <li><a href="/portfolios/<%- portfolio._id %>/recalculate" title="Recalculate" class="icon"><img src="/img/iconmonstr-synchronization-18.svg" alt="Recalculate" class="button-svg"></a></li>
                </ul>
            </div>
        </div>
        <div class="content">
        <% if (hasAssets) { %>
            <% if (portfolio.stock_assets.length > 0) { %>
            <div class="standard-list">
                <table class="sortable portfolios-assets-list">
                    <thead>
                        <tr>
                            <th>Ticker</th>
                            <th>Price</th>
                            <th>Change</th>
        
                            <th>Unrealized</th>
                            <th>Realized</th>
                            <th>Cost</th>
                            <th>Daily</th>
                            <th>ROI (%)</th>

                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% portfolio.stock_assets.forEach(asset => { %>
                        <tr class="item">
                            <td sorttable_customkey="<%- asset.exchange_id.name %>">
                                <a href="/assets/stocks/<%- asset._id %>"><%- asset.exchange_id.name %></a><br/>
                                <span class="emphasize-minus"><a href="/assets/stocks/<%- asset._id %>"><%- asset.exchange_id.exchangeOverview.Name %></a></span>
                            </td>                                    
                            <td sorttable_customkey="<%- asset.exchange_id.exchangeQuote.Price %>">
                                <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.exchange_id.exchangeQuote.Price %></span><br/>
                                <span class="emphasize-minus format-time"><%- asset.exchange_id.updatedAt %></span>
                            </td>
                            <td sorttable_customkey="<%- asset.exchange_id.exchangeQuote.Change %>">
                                <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %> format-pos-neg-color"><%- asset.exchange_id.exchangeQuote.Change %></span><br/>
                                <span class="emphasize-minus format-percentage format-pos-neg-color"><%- asset.exchange_id.exchangeQuote.ChangePercent %></span>
                            </td>
                            
                            <td sorttable_customkey="<%- asset.unrealized_value %>">
                                <span class="format-currency-<%- portfolio.currency %>"><%- asset.unrealized_value %></span>
                            </td>
                            <td sorttable_customkey="<%- asset.realized_value %>">
                                <span class="format-currency-<%- portfolio.currency %>"><%- asset.realized_value %></span>
                            </td>
                            <td sorttable_customkey="<%- asset.total_cost %>">
                                <span class="format-currency-<%- portfolio.currency %>"><%- asset.total_cost %></span>
                            </td>
                            <td sorttable_customkey="<%- asset.daily_value %>">
                                <span class="format-currency-<%- portfolio.currency %>"><%- asset.daily_value %></span>
                            </td>
                            <td sorttable_customkey="<%- asset.unrealized_value_percentage %>">
                                <span class="format-percentage"><%- asset.unrealized_value_percentage %></span>
                            </td>

                            <td class="delete-row"><button onclick="rcRemoveConfirmButton('<%- asset.exchange_id.name %>', { 'kind': 'Stock', 'id': '<%- asset._id %>' })" class="icon"><img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink"></button></td>
                        </tr>
                    <% }); %>        
                    </tbody>
                </table>
            </div>
            <% } %>
        <% } else { %>
            <div class="error">There are no assets!</div>
        <% } %>
        </div>
    </div>

    <% if (portfolio.crypto_assets.length > 0) { %>
    <div class="panel-containee">
    </div>
    <% } %>

    <% if (portfolio.cash_assets.length > 0) { %>
    <div class="panel-containee">
    </div>
    <% } %>

</div>

</div>

<%- include("../partials/footer"); %>
<%- include("../partials/formatters"); %>
<%- include("../modal/assets-add-modal"); %>
<%- include("../modal/remove-confirm-modal", { 'prefix': 'rc', 'post': '/portfolios/' + portfolio._id }); %>
<%- include("../modal/modal"); %>
<%- include("../partials/charts/chart-doughnut"); %>

<script src="/scripts/charts.js"></script>