<%- include("../partials/header"); %>

<div class="main-body-extended">
    <div class="panel-container-3c-eq">
        <%- include("../partials/exchanges-stock-charts", { 'stock': entry }); %>
        <%- include("../partials/exchanges-stock-profile", { 'stock': entry }); %>
        <%- include("../partials/exchanges-stock-summary", { 'stock': entry }); %>
    </div>
</div>

<%- include("../partials/footer"); %>
<%- include("../partials/formatters"); %>
<%- include("../modal/modal"); %>
<%- include("../partials/charts/chart-line"); %>