<%- include("../partials/header"); %>

<% const hasStocks = (watchlist.stock_entries.length > 0); %>
<% const hasCryptos = (watchlist.crypto_entries.length > 0); %>
<% const hasCash = (watchlist.cash_entries.length > 0); %>
<% const hasAssets = (hasStocks || hasCryptos || hasCash); %>

<div class="main-body-extended">
    
<div class="panel-container-1c-fullwidth">

<div class="panel-header">
    <div class="title">
        <h1><%- watchlist.name %></h1>
        <% if (hasAssets) { %>
            <h3>
                <% var stoc='stocks', cryp='cryptos', cash='currencies'; %>
                <% if (watchlist.stock_entries.length === 1) { stoc='stock'; } %>
                <% if (watchlist.crypto_entries.length === 1) { cryp='crypto'; } %>
                <% if (watchlist.stock_entries.length === 1) { cash='currency'; } %>
                <span class="emphasize-plus">
                    (<%- watchlist.stock_entries.length %> <%- stoc %>, 
                    <%- watchlist.crypto_entries.length %> <%- cryp %> and
                    <%- watchlist.cash_entries.length %> <%- cash %>)
                </span>
            </h3>
        <% } else { %>
            <div class="error">There are no entries!</div>
        <% } %>
    </div>
    <div class="mini-nav">
        <ul>
            <li><button data-modal-target="#entries-add-modal">Add Entry</button></li>
            <li><a href="/show" title="Go back" class="icon"><img src="/img/iconmonstr-arrow-76.svg" alt="Go back" class="button-svg"></a></li>
            <li><a href="/watchlists/<%- watchlist._id %>" title="Refresh" class="icon"><img src="/img/iconmonstr-synchronization-18.svg" alt="Refresh" class="button-svg"></a></li>
            <li><a href="/watchlists/<%- watchlist._id %>/export" title="Export" class="icon"><img src="/img/iconmonstr-download-13.svg" alt="Export" class="button-svg"></a></li>
        </ul>
    </div>
</div>

<% if (hasStocks) { %>
<div class="panel-containee panel-border">
    <div class="title">
        <h2>Stocks</h2>
    </div>
    <div class="content">
        <div class="standard-list">
            <table class="sortable watchlists-stocks-list">
                <thead>
                    <th>Ticker</th>
                    <th>Sector</th>
            
                    <th>52wk High</th>
                    <th>52wk Low</th>
                    <th>52wk Range</th>
                    
                    <th>Price</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                    <th>Change</th>
                    <th>Change%</th>
                    
                    <th>P/E</th>
                    <th>EPS</th>
                    <th>Dividend</th>
                    <th>Dividend Yield</th>
                    <th>Dividend Payout</th>

                    <th>Last 3 Months</th>

                    <th>&nbsp;</th>
                </thead>
                <tbody>
                <% watchlist.stock_entries.forEach(entry => { %>
                    <tr class="item" title="<%- entry.exchangeOverview.Name %>">
                        <td sorttable_customkey="<%- entry.name %>"><a href="/exchanges/stock/<%- entry._id %>"><%- entry.name %></a></td>
                        <td><%- entry.exchangeOverview.Sector %></td>

                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.Week52High %></span></td>
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.Week52Low %></span></td>                            
                        <td>
                            <div class="container-percentage">
                                <div class="chart-sparkline" data-chart-percentage-bar='<%- entry.exchangeCalculated.Week52RangePercent %>'></div>
                                <span class="format-percentage %>"><%- entry.exchangeCalculated.Week52RangePercent %></span>
                            </div>
                        </td>
            
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.Price %></span></td>
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.Open %></span></td>
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.High %></span></td>
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.Low %></span></td>
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeQuote.PreviousClose %></span></td>
            
                        <td><span class="format-integer-short"><%- entry.exchangeQuote.Volume %></span></td>
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %> format-pos-neg-color"><%- entry.exchangeQuote.Change %></span></td>
                        <td><span class="format-percentage format-pos-neg-color"><%- entry.exchangeQuote.ChangePercent %></span></td>
                        <td><span class="format-3-fraction-digits"><%- entry.exchangeOverview.PERatio %></span></td>
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.EPS %></span></td>
            
                        <td><span class="format-currency-<%- entry.exchangeOverview.Currency %>"><%- entry.exchangeOverview.Dividend %></span></td>
                        <td><span class="format-percentage"><%- entry.exchangeCalculated.DividendYieldPercent %></span></td>
                        <td><span class="format-percentage"><%- entry.exchangeCalculated.DividendPayoutRatioPercent %></span></td>

                        <td>                                
                            <div class="chart-sparkline" data-chart-line-single='<%- JSON.stringify(entry.exchangeGraphData.M3.map(ts=>{ return {x:ts.x,y:ts.y}; }) ) %>'></div>
                        </td>

                        <td class="delete-row"><button onclick="rcRemoveConfirmButton('<%- entry.name %>', { 'kind': 'Stock', 'id': '<%- entry._id %>'})" class="icon"><img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink"></button></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% } %>

<% if (hasCryptos) { %>
<div class="panel-containee panel-border">
    <div class="title">
        <h2>Cryptos</h2>
    </div>
    <div class="content">
        <div class="standard-list">
            <table class="sortable watchlists-cryptos-list">
                <thead>
                    <th>Crypto Code</th>
                    <th>Crypto Name</th>
                    <th>Price</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                    <th>Change</th>
                    <th>Change%</th>
                    <th>Bid Price</th>
                    <th>Ask Price</th>
                    <th>Last 3 Months</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                <% watchlist.crypto_entries.forEach(entry => { %>
                    <tr class="item" title="<%- entry.displayName %>">
                        <td sorttable_customkey="<%- entry.shortName %>">
                            <a href="/exchanges/crypto/<%- entry._id %>"><%- entry.shortName %></a>
                        </td>
                        <td sorttable_customkey="<%- entry.longName %>">
                            <a href="/exchanges/crypto/<%- entry._id %>"><%- entry.longName %></a>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeRate.Rate %>">
                            <span class="format-currency"><%- entry.exchangeRate.Rate %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeQuote.Open %>">
                            <span class="format-currency"><%- entry.exchangeQuote.Open %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeQuote.High %>">
                            <span class="format-currency"><%- entry.exchangeQuote.High %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeQuote.Low %>">
                            <span class="format-currency"><%- entry.exchangeQuote.Low %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeQuote.Close %>">
                            <span class="format-currency"><%- entry.exchangeQuote.Close %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeQuote.Volume %>">
                            <span class="format-integer-short"><%- entry.exchangeQuote.Volume %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeCalculated.Change %>">
                            <span class="format-currency format-pos-neg-color"><%- entry.exchangeCalculated.Change %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeCalculated.ChangePercent %>">
                            <span class="format-percentage format-pos-neg-color"><%- entry.exchangeCalculated.ChangePercent %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeRate.BidPrice %>">
                            <span class="format-currency"><%- entry.exchangeRate.BidPrice %></span>
                        </td>
                        <td sortable_customkey="<%- entry.exchangeRate.AskPrice %>">
                            <span class="format-currency"><%- entry.exchangeRate.AskPrice %></span>
                        </td>
                        <td>                                
                            <div class="chart-sparkline" data-chart-line-single='<%- JSON.stringify(entry.exchangeGraphData.M3.map(ts=>{ return {x:ts.x,y:ts.y}; }) ) %>'></div>
                        </td>

                        <td class="delete-row"><button onclick="rcRemoveConfirmButton('<%- [entry.from,entry.to].join('-') %>', { 'kind': 'Crypto', 'id': '<%- entry._id %>'})" class="icon"><img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink"></button></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% } %>

<% if (hasCash) { %>
<div class="panel-containee panel-border">
</div>
<% } %>

</div>
</div>

<%- include("../partials/footer"); %>
<%- include("../partials/formatters"); %>
<%- include("../modal/entries-add-modal"); %>
<%- include("../modal/remove-confirm-modal", { 'prefix': 'rc', 'post': '/watchlists/' + watchlist._id }); %>
<%- include("../modal/modal"); %>

<script src="/scripts/charts.js"></script>