
<div id="<%- prefix %>-overlay" class="modal-overlay closed"></div>
<div id="<%- prefix %>-modal" class="modal closed">
    <button class="close-button" id="<%- prefix %>-close-button">&times;</button>
    <div class="modal-content">
        <form id="<%- prefix %>-form" class="modal-form" autocomplete="off">
            <h2><%- title %></h2>
            <label for="email">Email</label>
            <input type="email" name="email" required autofocus />
            <div class="email error"></div>
            <label for="password">Password</label>
            <input type="password" name="password" required />
            <div class="password error"></div>
            <div class="mini-nav">
                <ul>
                    <li><button title="Submit to <%- title %>"><%- title %></button></li>
                </ul>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var <%- prefix %>Button = document.getElementById("<%- prefix %>-button");    
    var <%- prefix %>Overlay = document.getElementById("<%- prefix %>-overlay");
    var <%- prefix %>Modal = document.getElementById("<%- prefix %>-modal");
    var <%- prefix %>Form = document.getElementById("<%- prefix %>-form");
    var <%- prefix %>CloseButton = document.getElementById("<%- prefix %>-close-button");

    function <%- prefix %>Toggle() {
        <%- prefix %>Modal.classList.toggle("closed");
        <%- prefix %>Overlay.classList.toggle("closed");
    }
    <%- prefix %>Button.addEventListener("click", <%- prefix %>Toggle);
    <%- prefix %>CloseButton.addEventListener("click", <%- prefix %>Toggle);
    <%- prefix %>Overlay.addEventListener("click", (e) => {
        if (e.target == <%- prefix %>Overlay) {
            <%- prefix %>Toggle();
        }
    });
    <%- prefix %>Form.addEventListener("submit", async (e) => {
        e.preventDefault();

        // get elements
        const emailError = document.querySelector('#<%- prefix %>-form .email.error');
        const passwordError = document.querySelector('#<%- prefix %>-form .password.error');
        
        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';
        
        // get values
        const email = <%- prefix %>Form.email.value;
        const password = <%- prefix %>Form.password.value;
        
        try {
            const res = await fetch('/auth/<%- post %>', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                <%- prefix %>Toggle();
                location.assign('/show');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>
