<% if (typeof asset !== 'undefined') { %>
    <% const kind = asset.kind; %>
    <% const kind2lc = kind.toLowerCase(); %>
    <% const kindurl = kind2lc; %>
    <% const isError = (asset.common.status === 'error'); %>
    <% const isClose = (asset.common.status === 'close'); %>
    <% const isOpen = (asset.common.status === 'open'); %>
    <% const isNew = (asset.common.status === 'new'); %>

    <%- include("../partials/header"); %>

    <div class="main-body-extended">
        <div class="panel-container-3c-eq">

            <div class="panel-header">
                <div class="title">
                    <h1><%- asset.exchange_id.name %> <span class="emphasize-minus">(<%- asset.exchange_id.longName %>)</span></h1>
                </div>
            </div>

            <div class="panel-header">
                <div class="title">
                    <div class="mini-nav">
                        <ul>
                            <li><button data-modal-target="#transactions-add-modal">Add Transaction</button></li>
                            <li><a href="/portfolios/<%- asset.portfolio_id._id %>" title="Go back" class="icon"><img src="/img/iconmonstr-arrow-76.svg" alt="Go back" class="button-svg"></a></li>
                            <li><a href="/assets/<%- kindurl %>/<%- asset._id %>/recalculate" title="Recalculate" class="icon"><img src="/img/iconmonstr-synchronization-18.svg" alt="Recalculate" class="button-svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-containee empty-first"></div>

            <div class="panel-containee">
                <% if (isError) { %>
                <div class="content">
                    <div class="emphasize-plus error">Double check your transactions as they are incoherent!</div>
                </div>
                <% } else if (!isNew) { %>
                <div class="content">
                    <div class="panel-container-2c-immutable">
                        
                        <% if (isOpen) { %>
                        <div class="panel-container-2c">
                            <div class="panel-containee left">
                                <p class="emphasize-plusplus">
                                    <span class="format-currency"><%- asset.common.unrealized_value %></span>
                                </p>
                                <p class="emphasize-plus">
                                    <span class="format-currency"><%- asset.common.daily_value %></span>
                                </p>
                            </div>
                            <div class="panel-containee right"></div>
                        </div>
                        <div class="panel-container-2c-immutable">
                            <div class="panel-containee left"></div>
                            <div class="panel-containee right">
                                <p class="emphasize-plusplus">
                                    <span class="format-percentage"><%- asset.common.unrealized_value_percentage %></span>
                                </p>
                                <p class="emphasize-plus">
                                    <span class="format-percentage"><%- asset.common.daily_value_percentage %></span>
                                </p>
                            </div>
                        </div>
                        <% } %>

                        <div class="panel-container-2c-immutable">
                            <div class="panel-containee left">
                                <p class="ptitle nowrap">Realized</p>
                                <% if (isOpen) { %>
                                    <p class="ptitle nowrap">Unrealized</p>
                                <% } %>
                                <p class="ptitle nowrap">Transactions</p>
                            </div>
                            <div class="panel-containee right">
                                <p class="nowrap"><span class="format-currency"><%- asset.common.realized_value %></span></p>
                                <% if (isOpen) { %>
                                    <p class="nowrap"><span class="format-integer"><%- asset.common.total_quantity %></span> @ <span class="format-currency"><%- asset.common.average_cost_per_unit %></span></p>
                                <% } %>
                                <p class="nowrap"><span class="format-integer"><%- asset.common.total_transactions %></span</p>
                            </div>
                        </div>
                        <div class="panel-container-2c-immutable">
                            <div class="panel-containee left">
                                <p class="ptitle nowrap">Costs</p>
                                <p class="ptitle nowrap">Commissions</p>
                            </div>
                            <div class="panel-containee right">
                                <p class="nowrap"><span class="format-currency"><%- asset.common.total_cost %></span></p>
                                <p class="nowrap"><span class="format-currency"><%- asset.common.total_commissions %></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>          
            
            <div class="panel-containee empty"></div>
            <div class="panel-containee empty-first"></div>

            <!-- transactions -->
            <div class="panel-containee panel-border">
                <div class="title">
                    <h2>Transactions</h2>
                </div>
                <div class="content">            
                    <div class="standard-list">
                        <table class="assets-stocks-list">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Operation</th>
                                    <th>Description</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% asset.transactions.forEach(transaction => { %>
                                <tr title="<%- transaction.kind %>">
                                    <td><span class="format-date-long"><%- transaction.date %></span></td>
                                    <td><%- transaction.kind %></td>
                                    <td>
                                    <% if(transaction.kind == 'buy') { %>
                                        <span class="format-3-fraction-digits"><%- transaction.quantity %></span> units @
                                        <span class="format-currency"><%- transaction.price %></span><br>
                                        <span class="format-currency emphasize-minus"><%- transaction.cost %></span>
                                    <% } else if(transaction.kind == 'sell') { %>
                                        <span class="format-3-fraction-digits"><%- -transaction.quantity %></span> units @
                                        <span class="format-currency"><%- transaction.price %></span><br>
                                        <span class="format-currency emphasize-minus"><%- transaction.realized %></span>
                                    <% } else if(transaction.kind == 'split') { %>
                                        <span class="format-integer"><%- transaction.split_before %></span> for 
                                        <span class="format-integer"><%- transaction.split_after %></span>
                                    <% } else if(transaction.kind == 'units') { %>
                                        <span class="format-3-fraction-digits"><%- transaction.quantity %></span> units as dividend<br>
                                        <span class="format-currency emphasize-minus"><%- transaction.cost %></span>
                                    <% } %>
                                    </td>
                                    
                                    <td>
                                        <% var fdate = transaction.date.toLocaleDateString([], {month: 'short', day: 'numeric'}); %>
                                        <button onclick="transactionsCryptosRemoveConfirmButton('the <%- transaction.kind %> transaction on <%- fdate %>', { 'id': '<%- transaction._id %>' })" class="icon">
                                            <img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink">
                                        </button>
                                    </td>

                                </tr>
                            <% }); %>        
                            </tbody>
                        </table>
                    </div>
                    <% if (isNew) { %>
                        <div class="error">There are no transactions!</div>
                    <% } %>
                </div>
            </div>

            <%- include("../partials/exchanges-crypto-summary", { 'crypto': asset.exchange_id }); %>
            
        </div>
    </div>

    <%- include("../partials/footer"); %>
    <%- include("../partials/formatters"); %>
    <%- include("../modal/transactions-add-modal"); %>
    <%- include("../modal/remove-confirm-modal", { 'prefix': 'transactionsCryptos', 'post': '/assets/' + kindurl + '/' + asset._id }); %>
    <%- include("../modal/modal"); %>
<% } %>