<%- include("../partials/header"); %>

<div class="main-body-extended">
    <div class="total-overview">
        <div class="total-overview-header">
            <h1><%- asset.exchange_id.name %> <span class="emphasize-minus">(<%- asset.exchange_id.exchangeOverview.Name %>)</span></h1>
        </div>
        <% if (asset.transactions.length > 0) { %>
        <div class="total-overview-row">
            <h4>
               <span class="emphasize-plus format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.unrealized_value %></span>
               (<span class="emphasize-minus format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.realized_value %></span>)
            </h4>
            <h4>
                Unrealized: <span class="format-integer"><%- asset.total_quantity %></span> @
                <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.total_cost %></span>
            </h4>
            <h4>
                Dividends: <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.total_dividends %></span>
            </h4>
            <h4>
                Commissions: <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.total_commissions %></span>
            </h4>
        </div>    
        <% } %>
    </div>
    <div class="panel-container-3c-eq">
        <%- include("../partials/exchanges-stock-profile", { 'stock': asset.exchange_id }); %>
        <%- include("../partials/exchanges-stock-summary", { 'stock': asset.exchange_id }); %>

        <!-- transactions -->
        <div class="panel-containee panel-border">
            <div class="title">
                <h2>Transactions</h2>
            </div>
            <div class="title">
                <div class="mini-nav">
                    <ul>
                        <li><button data-modal-target="#transactions-stocks-add-modal">Add Transaction</button></li>
                        <li><a href="/portfolios/<%- asset.portfolio_id._id %>" title="Go back" class="icon"><img src="/img/iconmonstr-arrow-76.svg" alt="Go back" class="button-svg"></a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <% if (asset.transactions.length > 0) { %>
                <div class="standard-list">
                    <table class="assets-stocks-list">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Operation</th>
                                <th>Description</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% asset.transactions.forEach(transaction => { %>
                            <tr>
                                <td><span class="format-date-long"><%- transaction.date %></span></td>
                                <td><%- transaction.kind %></td>
                                <td>
                                <% if(['buy', 'sell'].includes(transaction.kind)) { %>
                                    <span class="format-3-fraction-digits"><%- transaction.quantity %></span> @
                                    <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- transaction.price %></span>
                                <% } else if(transaction.kind == 'dividend') { %>
                                    <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- transaction.dividend %></span>
                                <% } else if(transaction.kind == 'split') { %>
                                    <span class="format-integer"><%- transaction.split_before %></span> for 
                                    <span class="format-integer"><%- transaction.split_after %></span>
                                <% } %>
                                </td>

                                <td class="icons">
                                    <button onclick="transactionsEditButton(<%- transaction %>)" class="icon">
                                        <img src="/img/iconmonstr-edit-10.svg" alt="Edit row" class="button-svg shrink">
                                    </button>
                                    <button onclick="transactionsStocksRemoveConfirmButton('<%- asset.exchange_id.name %>', { 'id': '<%- transaction._id %>' })" class="icon">
                                        <img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink">
                                    </button>
                                </td>

                            </tr>
                        <% }); %>        
                        </tbody>
                    </table>
                </div>
                <% } else { %>
                <div class="error">There are no transactions!</div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer"); %>
<%- include("../partials/formatters"); %>
<%- include("../modal/transactions-add-modal", { 'kind': 'Stock' }); %>
<%- include("../modal/remove-confirm-modal", { 'prefix': 'transactionsStocks', 'post': '/assets/stocks/' + asset._id }); %>
<%- include("../modal/modal"); %>