<%- include("../partials/header"); %>

<% var hasTransactions = (asset.transactions.length > 0); %>

<div class="main-body-extended">
    
    <div class="panel-container-3c-eq">

        <div class="panel-header">
            <div class="title">
                <h1><%- asset.exchange_id.name %> <span class="emphasize-minus">(<%- asset.exchange_id.exchangeOverview.Name %>)</span></h1>
            </div>
        </div>

        <div class="panel-header">
            <div class="title">
                <div class="mini-nav">
                    <ul>
                        <li><button data-modal-target="#transactions-stocks-add-modal">Add Transaction</button></li>
                        <li><a href="/portfolios/<%- asset.portfolio_id._id %>" title="Go back" class="icon"><img src="/img/iconmonstr-arrow-76.svg" alt="Go back" class="button-svg"></a></li>
                        <li><a href="/assets/stocks/<%- asset._id %>/recalculate" title="Recalculate" class="icon"><img src="/img/iconmonstr-synchronization-18.svg" alt="Recalculate" class="button-svg"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel-containee empty-first"></div>

        <div class="panel-containee">
        <% if (hasTransactions) { %>
            <div class="content">
                <div class="panel-container-2c-immutable">
                    <div class="panel-container-2c">
                        <div class="panel-containee left">
                            <p class="emphasize-plusplus">
                                <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.unrealized_value %></span>
                            </p>
                            <p class="emphasize-plus">
                                <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.daily_value %></span>
                            </p>
                        </div>
                        <div class="panel-containee right"></div>
                    </div>
                    <div class="panel-container-2c-immutable">
                        <div class="panel-containee left"></div>
                        <div class="panel-containee right">
                            <p class="emphasize-plusplus">
                                <span class="format-percentage"><%- asset.unrealized_value_percentage %></span>
                            </p>
                            <p class="emphasize-plus">
                                <span class="format-percentage"><%- asset.daily_value_percentage %></span>
                            </p>
                        </div>
                    </div>

                    <div class="panel-container-2c-immutable">
                        <div class="panel-containee left">
                            <p class="ptitle nowrap">Realized</p>
                            <p class="ptitle nowrap">Unrealized</p>
                            <p class="ptitle nowrap">Transactions</p>
                        </div>
                        <div class="panel-containee right">
                            <p class="nowrap"><span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.realized_value %></span></p>
                            <p class="nowrap"><span class="format-integer"><%- asset.total_quantity %></span> @ <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.avg_cost_per_share %></span></p>
                            <p class="nowrap"><span class="format-integer"><%- asset.total_transactions %></span</p>
                        </div>
                    </div>
                    <div class="panel-container-2c-immutable">
                        <div class="panel-containee left">
                            <p class="ptitle nowrap">Costs</p>
                            <p class="ptitle nowrap">Dividends</p>
                            <p class="ptitle nowrap">Commissions</p>
                        </div>
                        <div class="panel-containee right">
                            <p class="nowrap"><span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.total_cost %></span></p>
                            <p class="nowrap"><span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.total_dividends %></span></p>
                            <p class="nowrap"><span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- asset.total_commissions %></span></p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        </div>          
        
        <div class="panel-containee empty"></div>
        <div class="panel-containee empty-first"></div>

        <!-- transactions -->
        <div class="panel-containee panel-border">
            <div class="title">
                <h2>Transactions</h2>
            </div>
            <div class="content">            
                <div class="standard-list">
                    <table class="assets-stocks-list">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Operation</th>
                                <th>Description</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% asset.transactions.forEach(transaction => { %>
                            <tr title="<%- transaction.kind %>">
                                <td><span class="format-date-long"><%- transaction.date %></span></td>
                                <td><%- transaction.kind %></td>
                                <td>
                                <% if(transaction.kind == 'buy') { %>
                                    <span class="format-3-fraction-digits"><%- transaction.quantity %></span> shares @
                                    <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- transaction.price %></span><br>
                                    <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %> emphasize-minus"><%- transaction.cost %></span>
                                <% } else if(transaction.kind == 'sell') { %>
                                    <span class="format-3-fraction-digits"><%- -transaction.quantity %></span> shares @
                                    <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- transaction.price %></span><br>
                                    <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %> emphasize-minus"><%- transaction.realized %></span>
                                <% } else if(transaction.kind == 'dividend') { %>
                                    <span class="format-currency-<%- asset.exchange_id.exchangeOverview.Currency %>"><%- transaction.dividend %></span>
                                <% } else if(transaction.kind == 'split') { %>
                                    <span class="format-integer"><%- transaction.split_before %></span> for 
                                    <span class="format-integer"><%- transaction.split_after %></span>
                                <% } %>
                                </td>

                                <td>
                                    <% var fdate = transaction.date.toLocaleDateString([], {month: 'short', day: 'numeric'}); %>
                                    <button onclick="transactionsStocksRemoveConfirmButton('the <%- transaction.kind %> transaction on <%- fdate %>', { 'id': '<%- transaction._id %>' })" class="icon">
                                        <img src="/img/iconmonstr-x-mark-4.svg" alt="Remove row" class="button-svg shrink">
                                    </button>
                                </td>

                            </tr>
                        <% }); %>        
                        </tbody>
                    </table>
                </div>
                <% if (!hasTransactions) { %>
                    <div class="error">There are no transactions!</div>
                <% } %>
            </div>
        </div>

        <%- include("../partials/exchanges-stock-profile", { 'stock': asset.exchange_id }); %>
        <%- include("../partials/exchanges-stock-summary", { 'stock': asset.exchange_id }); %>
        
    </div>
</div>

<%- include("../partials/footer"); %>
<%- include("../partials/formatters"); %>
<%- include("../modal/transactions-add-modal", { 'kind': 'Stock' }); %>
<%- include("../modal/remove-confirm-modal", { 'prefix': 'transactionsStocks', 'post': '/assets/stocks/' + asset._id }); %>
<%- include("../modal/modal"); %>